@charset "utf-8" body{ font-family: 'Raleway', sans-serif;

}
+{
padding
:
 
0
px
;

    
margin
:
 
0
px
;


}
#nav1 {
	width: 100%;
	height: 80px;
	line-height: 50px;
	background-color: #4b4b4b;
}

#nav1 h1 {
	float: left;
	font-size: 2.0em;
	margin-left: 15px;
}

#nav1 h1 a {
	text-decoration: none;
	color: white;
}

#nav1 ul {
	float: right;
	margin-right: 15px;
}

#nav1 ul li {
	display: inline-block;
	list-style-type: none;
}

#nav1 ul li a {
	text-decoration: none;
	color: white;
	padding: 25px;
}

#active {
	background: #4b4b4b;
}

#nav1 ul li:hover {
	background: #090009;
	transition: all ease-in-out 0.45s;
}

#main-content {
	width: 100%;
	height: 600px;
	text-align: center;
	color: white;
}

#service {
	background: #5f5b57;
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	color: white;
	font-weight: lighter;
	box-shadow: 1px 5px 2px 2px #e6d1b5;
}

#service:hover {
	box-shadow: 1px 5px 2px 2px rgba(84, 69, 69, 0.53);
	transition: all ease-in-out 0.45s;
}

#service a {
	color: white;
	text-decoration: none;
	padding: 25px;
}

#third {
	width: 100%;
	height: 500px;
	background: #a9a9a961;
	color: white;
}

#third1 {
	width: 200px;
	height: 200px;
	padding: 40px;
	display: inline;
	float: left;
	margin: 15px;
	text-align: center;
}

#third1 img {
	width: 250px;
	height: 200px;
	border-radius: 5px;
	border: 2px solid;
	border-color: #a9a9a961;
}

#footer {
	width: 100%;
	height: 80px;
	background: rgba(47, 49, 49, 0.91);
	line-height: 0px;
}

#footer h2 {
	color: white;
	float: right;
	margin-right: 20px;
	font-weight: 200;
	line-height: 50px
}

#nav2 ul {
	float: left;
	margin-left: 20px;
}

#nav2 ul li {
	display: inline-block;
	list-style-type: none;
	font-size: 30px;
	padding: 10px;
}

#nav2 ul li a {
	text-decoration: none;
	padding: 1px;
}

#nav2 ul li a:hover {
	background: #999;
}

#form {
	width: 50%;
	height: 400px;
	line-height: 30px;
	float: left;
	background-color: #a9a9a961;
}

form {
	margin-left: 100px;
	color: white;
}

#name {
	width: 300px;
	height: 30px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid;
}

#email {
	width: 300px;
	height: 30px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid;
}

#com {
	width: 300px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid;
}

#sub {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: 3px solid;
	background: #a9a9a961;
	color: white;
}

#extra {
	width: 50%;
	height: 400px;
	float: right;
	line-height: 40px;
	color: white;
	background-color: #a9a9a961;
}

#main-form {
	width: 100%;
	height: 500px;
}

#body {
	background: url(mainbgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#loginleft {
	width: 50%;
	height: 80%;
	float: left;
}

#loginright {
	width: 50%;
	height: 80%;
	float: right;
}

#container {
	margin-left: 25%;
	margin-top: 12%;
}

#loginleft p {
	margin-top: 20%;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

#about-body-id {
	background: url(mainbgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact-body {
	background: url(mainbgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#service-body {
	background: url(mainbgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}